#auth_config.py
SECRET_KEY = "super_secret_text"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 60
#ssl config
VERIFY_SSL = False
AIOHTTP_TIMEOUT = 3600
#debug
DEBUG=False
#workers
UV_WORKERS=1
#DB
DB_URL="sqlite://db.sqlite"
#mysql://myuser:mypass:pass@db.host:3306/somedb