aiohttp==3.7.4.post0
aiosqlite==0.17.0
aiozabbix==1.1.1
asgiref==3.3.4
async-timeout==3.0.1
asyncstdlib==3.9.2
attrs==21.2.0
bcrypt==3.2.0
cffi==1.14.5
chardet==4.0.0
click==8.0.1
ecdsa==0.17.0
fastapi==0.65.2
h11==0.12.0
httptools==0.2.0
idna==3.2
iso8601==0.1.14
multidict==5.1.0
passlib==1.7.4
pkg-resources==0.0.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.2
PyJWT==2.1.0
PyPika==0.48.2
pypika-tortoise==0.1.1
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.1
rsa==4.7.2
six==1.16.0
starlette==0.14.2
tortoise-orm==0.17.4
typing-extensions==3.10.0.0
uvicorn==0.14.0
uvloop==0.15.2
websockets==9.1
yarl==1.6.3
